<!DOCTYPE html>
<html>
    <head>
        <title>F(x)</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/main.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <header>
            <div class="container">
                <nav class="main-menu">
                    <ul>
                        <li><a href="./" class="btn btn-default">Anúncios cadastrados</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container-fluid container-main">
            <div class="row">
                <div class="col-md-12">
                    <h1>Adicionar um Novo Imóvel</h1>
                    <form action="http://demo1183916.mockable.io/anuncio" method="POST" id="form">
                        <fieldset>
                            <div class="form-group field-holder field-name">
                                <label for="name">Name:</label>
                                <input type="text" id="name" name="name" class="form-control">
                            </div>
                            <div class="form-group field-holder field-description">
                                <label for="description">Description:</label>
                                <textarea name="description" class="form-control" id="description" cols="30" rows="10"></textarea>
                            </div>
                            <div class="form-group field-holder field-type">
                                <label for="type">Type:</label>
                                <select class="form-control" name="type" id="type">
                                    <option value="">Selecione</option>
                                    <option value="">Casa</option>
                                    <option value="">Apartamento</option>
                                </select>
                            </div>
                            <div class="form-group field-holder field-value">
                                <label for="value">Value:</label>
                                <input type="text" id="value" name="value" class="form-control">
                            </div>
                            <div class="form-group field-holder field-address">
                                <label for="address" id="address">Address:</label>
                                <input type="text" name="address" class="form-control">
                            </div>
                            <div class="form-group field-holder field-submit">
                                <input type="submit" class="btn btn-default" value="Send">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <p>© 2016 - Leandro Diniz</p>
        </footer>
        <script id="template" type="x-tmpl-mustache">
            <h2>{{ name }}</h2>
            <div>
                <p><strong>Description: </strong> {{ description }}</p>
                <p><strong>Type: </strong>{{ type }}</p>
                <p><strong>Address: </strong>{{ #place }}{{address}}{{/place}}</p>
            </div>
            <ul class="list-images">
                {{#images}}
                    <li> 
                       <span><img src="{{url}}"  class="img-responsive img-thumbnail" /></span>
                    </li>
                {{/images}}
            </ul>
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByEAGxZR1QG4FnAmDhl3O9TOmoywMxVz0"></script>
        <script src="assets/js/mustache.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>