<!DOCTYPE html>
<html>
    <head>
        <title>F(x)</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/main.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body class="home">
        <header>
            <div class="container">
                <nav class="main-menu">
                    <ul>
                        <li><a href="adicionar.html" class="btn btn-default">Adicionar novo anúncio</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container-fluid container-main">
            <div class="row">
                <div class="col-md-12">
                    <div id="target" class="col-md-6"></div>
                    <div id="map" class="col-md-6"></div>
                </div>
            </div>
        </div>
        <footer>
            <p>© 2016 - Leandro Diniz</p>
        </footer>
        <script id="template" type="x-tmpl-mustache">
            <h2>{{ name }}</h2>
            <div>
                <p><strong>Description: </strong> {{ description }}</p>
                <p><strong>Type: </strong>{{ type }}</p>
                <p><strong>Rent: </strong>R$ {{value}},00</p>
                <p><strong>Address: </strong>{{ #place }}{{address}}{{/place}}</p>
            </div>
            <ul class="list-images">
                {{#images}}
                    <li class="col-md-6"> 
                       <span><img src="{{url}}"  class="img-responsive img-thumbnail" /></span>
                    </li>
                {{/images}}
            </ul>
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByEAGxZR1QG4FnAmDhl3O9TOmoywMxVz0"></script>
        <script src="assets/js/mustache.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>