* {
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.container-main{
    max-width: 1040px;
}

header{
	background-color: #247cbb;
	height: 70px;
	width: 100%;
	margin-bottom: 50px;
}

h2, strong{
	color: #247cbb;
}

.main-menu li{
	list-style: none;
}

.list-images{
	margin: 0;
	padding: 0;
	width: 100%;
}

.list-images li{
	list-style: none;
}

#map{
	min-height: 400px;
	margin-top: 80px;
}

footer{
	background-color: #484848;
	height: 100px;
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 20px 0;
	text-align: center;
	color: #797979;
}